
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 4000px;
}
.hader-div1{
    color: rgb(238, 245, 245);
    background-image: url(../images/back\ ground.PNG);
    background-size: cover;
    width: 100%;
    height:100vh;
}
.asd1{
    text-align: center;
    padding-top: 200px;
    margin-top: 0 ;
    margin-left: 0;
}
.hader-div1 h3{
    margin-left: 550px;
    margin-top: 30px;
}
.hader-b1{
    padding: 4px 5px;
    margin-left: 580px;
    border-radius: 5px ;
    margin-top: 40px;
}
.hader-b1:hover{
    background-color: gray;
}
.hader-b2{
    padding: 4px 5px;
    color: white;
    background-color:gray;
    border-radius: 5px;
    font-size: 15px;
}
.hader-b2:hover{
    color: gray;
    background-color: white;
}
.header{
    background-color:black ;
    width: 100%;
    overflow: auto;
    position: fixed;
    top:0 ;
    left: 0;
    opacity: .7;
    z-index: 40;
}
.hader-img{
    background-size: cover;
    background-position: center;
    width: 120px;
        height: 70px;
    margin-left: 100px;
    float: left;
}
.hader-list{
    margin: 0;
    padding:15px;
list-style: none;
float: right ;
margin-right: 230px;
}
.hader-list li {
     margin: 0;
     padding: 0;
    display: inline-block;
    margin-left: 20px;
    color: white;
}
.hader-list li a{
    text-decoration: none;
    color: white;
}

.li1-list{
    text-decoration: underline;
}
.hader-list li a:hover{
    text-decoration: underline;
}

/* ---------------- --------------------*/
.pp1{
    text-align: center;
    font-size: 40px;
    margin-top: 160px;
    margin-bottom: 50px;
}
.contanir-1{
    width: 80%;
    margin: auto;
}
.your-home-item{
    overflow: auto;
}
.your-home{
width: 30%; 
height: 200px;
background-color:rgba(152, 147, 147, 0.463) ;
float: left;
padding: 12px 14px ;
text-align: center;
text-decoration: none;
position: relative;

}
.your-home a{
    text-decoration: none; 
}
.div-center{
    margin: 0px 5%;
}
.your-home i{
    font-size: 30px;
    color: rgb(66, 66, 205);
    margin-top: 20px;
    margin-bottom:20px;
}
.your-home p{
    margin-bottom:20px;
}
.your-home::after{
position: absolute;   
content: "";
width: 0;
height: 0;
top: 0;
left: 0;
background-color: rgb(0, 0, 0);
opacity: 0;
}
.your-home:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 1s;
}

/* --------------------------------------------------*/

.pp2{
margin-top: 220px;
font-size: 40px;
text-align: center;
}
.contanir-2{
    width: 80%;
    margin: auto;
    /* margin-top: 10px; */
    /* background-color: rgb(23, 26, 26); */
}
.special-items{
    position: relative;
}
.special-work-img{
    margin-top: -90px;
    float: left;
    margin: 3%;
    text-align: center;
    position: relative;
}
.special-overley p{
color: white;
margin-bottom: 10px;

}
.special-overley h2{
    color: azure;
    margin-top: 8px;
}
.special-overley a{
    font-size: 40px;
}
.special-overley{
    position: absolute;
    top: 0;
    width:100% ;
    height:100% ; 
    background-color: rgba(0, 0, 0, 0.39);
    visibility: hidden;
    padding-top: 70px; 
}
.special-items:hover .special-overley{
    visibility: visible;
}



/* --------------------------------- */
.fea{
    margin-top: 850px;
    text-align: center;
    font-size: 40px;
}
.contanir-3{
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
    height: 500px;
}
.features-overley{
    overflow: auto;
}
.features{
    width: 27%;
    height: 180px;
    background-color: rgba(152, 147, 147, 0.463) ;
    float: left;
    margin:3%;
    position: relative;
}


.features-info{
    position: absolute;
}

.features-info i{
    font-size: 40px;
    color: rgba(0, 0, 255, 0.678);
    padding: 12px;
}
.features-info h2:hover{
    color: aliceblue;
}

.features-info h2{
    text-align: center;
    margin-left: 70px;
}

.features-info p{
margin-top: 30px;
margin-left: 50px;

}

.features::after{
    position: absolute;
    z-index: -1;
    content: "";
    width: 0;
    height:0 ;
    top:0 ;
    left:0 ;
    /* opacity: 0; */
    background-color:rgba(128, 128, 128,0.0);
}

.features:hover::after{
/* opacity: 0.7; */
background-color:rgba(128, 128, 128,0.9);
width: 100%;
height: 100%;
transition: 1s;
} 
/* ------------------------------------------- */
.p4{
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
}
.contanir-4{
    margin-top: 150px;
    overflow: auto;
}
.our-advantages{
    float: left;
    margin-left: 50px;
}
.adv-img{
    float: left;
   margin-left: 350px;
}
.our-advantages i{
    color: blue;
}
.our-advantages p{ 
    margin-top: 20px
}

/*------------------------------------------*/
.contanir{
    width: 80%;
    margin: auto;
}
.aswe{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 180px;
}
.branch-cont{
    
overflow: auto;
}
.branch-item{
float: left;
width: 30%;
background-color: rgba(128, 128, 128, 0.779);
padding: 12px 14px;
text-align: center;
position: relative;
}
.branch-img{
width: 90%;
margin: auto;
position: relative;
}
.branch-img img{
    width: 100%;
}
.ww{
    margin: 0px 5%;
}
.branch-overley{
    position: absolute;
    top: 0;
    height:100% ;
    width:100% ;  
    background-color: rgba(43, 40, 40, 0.217);
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}
.branch-item:hover .branch-overley{
    opacity: 0.6;
    visibility: visible;
    
    }
.branch-overley a i{
    line-height: 40px;
} 
 .branch-info-span{
    text-transform: capitalize;
    color: rgb(216, 208, 208);
} 
.branch-overley a{
    display: block;
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgba(57, 57, 219, 0.756);
    margin-left: auto;
    font-size: 22px;
}
.branch-item:hover .branch-info-span{
    color: white;
}

.branch-overley a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(66, 66, 220, 0.756);
    color: white;
    font-size: 22px;
    margin-left: auto;
}

.branch-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color :rgba(128, 128, 128, 0.838);
    opacity: 0;
    transition: 2s;
}
.branch-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
/*---------------------------------------*/

.last-contanir{
    margin-top: 200px;
    width: 100%;
    height: 260px;
    background-color: rgba(43, 40, 40, 0.539);
}
.L-img img{
    margin-left:42%;
}
.L-icon{
    text-align: center;
}
.L-icon i{
    font-size: 30px;
    margin: 10px;
    color: rgba(0, 0, 255, 0.817);
    margin-top: 20px;
}
.L-copy{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.785);
}

    










